.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: #ffffff;
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    width: 90%;
    max-width: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logoimg img {
    border-radius: 50%;
    border: 2px solid #ffb701;
    padding: 5px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    font-weight: 600;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #8c4bdc;
    border-radius: 5px;
    font-size: 14px;
}

.input-group input:focus {
    border: 2px solid #8c4bdc;
    outline: none;
}

.input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #8c4bdc;
    border-radius: 5px;
    font-size: 14px;
    background-color: white;
    cursor: pointer;
}

.input-group select:focus {
    border: 2px solid #8c4bdc;
    outline: none;
}

.role-select {
    font-family: inherit;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 15px;
}

.options input {
    margin-right: 5px;
}

.forgot-link {
    color: #8c4bdc;
    text-decoration: none;
}

.forgot-link:hover {
    text-decoration: underline;
}

button{
    margin: 20px;
    padding: 10px 20px;
    border: none;
    background:linear-gradient(to right,rgb(132, 18, 213),rgb(127, 1, 216));
    color: whitesmoke;
    border-radius: 10px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:large;
}
button:hover{
    background:linear-gradient(to right,rgb(132, 18, 213),rgb(102, 0, 175));
    box-shadow: 0px 0px 10px 0px rgba(140, 0, 255, 0.692);
    letter-spacing: 0.2px;
}
.links a {
    color: #8c4bdc;
    text-decoration: none;
    font-size: 14px;
}

.links a:hover {
    text-decoration: underline;
}

.asterisk {
    color: red;
    font-size: 7px;
    margin-bottom: 4px;
}

.profile {
  cursor: pointer;
  margin-left: 10px;
}

.dropdown-menu {
  position: absolute;
  top: 60px;
  right: 10px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  padding: 10px;
  list-style-type:none;
}
#logout-btn{
    padding: 0px;
    margin: 3px;
    margin-left: 13px;

}

.dropdown-li {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  color: #333;
  text-decoration: none;
}

.dropdown-li:hover {
  background-color: #f2f2f2;
}

.logout-btn {
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
}
